@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #000000;
}

.container .destaque {
    background-color: #FFD700;
    color: #000000;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
}

.container h3 {
    background-color: #FFD700;
    color: white;
    text-align: center;
    font-weight: 300;
}

.header {
    max-width: 1000px;
    margin: 0 auto;
    padding: .9rem 1rem;
    background-color: #000000;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

.header-menu input{
    padding: .5rem;
    width: 300px;
}

.header-menu i{
    background-color: #f5f5f5;
    color: #000000;
    height: 100%;
    cursor: pointer;
    margin-right: 1rem;
}

.header-entrega h3 {
    color: #000000;
    padding: .2rem;
}

.logo img {
    height: 80px;
}

.mobile-menu-icon {
    display: none;
}

.header-mobile {
    display: none;
}

/**/

.header-menu-sub {
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.geral {
    width: 200px;
}

.select-menu .select-btn {
    background-color: #000000;
    color: #CED4DA;
    display: flex;
    justify-content: space-between;
    padding: .7rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 1.1rem;
    transition: .3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    padding: .7rem;
    background-color: #000000;
    color: #CED4DA;
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    cursor: pointer;
}

.options .option:hover {
    background: #CED4DA;
    color: #000000;
}

/**/



.select-menu2 .select-btn2 {
    background-color: #000000;
    color: #CED4DA;
    display: flex;
    justify-content: space-between;
    padding: .7rem;
    font-weight: 400;
    cursor: pointer;
}

.select-btn2 i {
    font-size: 1.1rem;
    transition: .3s;
}

.select-menu2.active .select-btn2 i {
    transform: rotate(-180deg);
}

.select-menu2 .options2 {
    padding: .7rem;
    background-color: #000000;
    color: #CED4DA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu2.active .options2 {
    display: block;
}

.options2 .option2 {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    cursor: pointer;
}

.options2 .option2:hover {
    background: #CED4DA;
    color: #000000;
}

/**/

.select-menu3 .select-btn3 {
    background-color: #000000;
    color: #CED4DA;
    display: flex;
    justify-content: space-between;
    padding: .7rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn3 i {
    font-size: 1.1rem;
    transition: .3s;
}

.select-menu3.active .select-btn3 i {
    transform: rotate(-180deg);
}

.select-menu3 .options3 {
    padding: .7rem;
    background-color: #000000;
    color: #CED4DA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu3.active .options3 {
    display: block;
}

.options3 .option3 {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    cursor: pointer;
}

.options3 .option3:hover {
    background: #CED4DA;
    color: #000000;
}

@media(max-width:700px) {
    header .logo{
        display: flex;
        align-items: center;
    }
    .link-header {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        color: #2FE64C;
        font-size: 1.3rem;
        cursor: pointer;
    }

    .header-mobile ul {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        text-align: center;
        padding-bottom: .5rem;
    }

    .header-mobile a {
        color: aliceblue;
        padding-bottom: .5rem;
    }

    .header-mobile .link-header {
        display: block;
    }

    .abrir {
        display: block;
    }

    .header-menu-sub{
        display: none;
    }

    .logo img {
        height: 60px;
    }

    .header-menu input{
        padding: .3rem;
        width: 100%;
    }

    .header-entrega h3 {
        color: #000000;
        font-size: 1rem;
        padding: .3rem;
    }

}

@media(max-width:650px) {

    .header{
        display: flex;
        justify-content: space-between;
    }

    .header-entrega h3 {
        font-size: .9rem;
        display: none;
    }

    .header-menu input{
        padding: .1rem;
        width: 300px;
    }
}

@media(max-width:475px) {

    .container .destaque {
        font-size: 1.1rem;
    }

    .header{
        display: flex;
        justify-content: space-between;
    }

    .header-menu input{
        padding: .3rem;
        width: 100%;
    }

    .logo img {
        height: 50px;
    }


}

/**/

.swiper {
    width: 100%;
    height: 50%;
    background-color: #000000;
}

.swiper-slide {
    background-color: #000000;
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: contain;
}

@media(max-width: 700px) {
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/**/

.vantagem-bg {
    background-color: #000000;
}

.vantagem {
    max-width: 1300px;
    margin: 0 auto;
    color: aliceblue;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.vantagem-caixa {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.vantagem i {
    font-size: 2rem;
}

.vantagem-item {
    display: flex;
    flex-direction: column;

}

@media(max-width:500px) {
    .vantagem i {
        font-size: 1rem;
    }

    .vantagem h3 {
        font-size: .9rem;
    }
}

/**/

.container-bg {
    background-color: #f5f5f5;
    padding-bottom: 2rem;
}

.container-bg h1 {
    background-color: #f5f5f5;
    color: #000000;
    padding: 3rem;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}

.container-bg h1:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #000000;
    margin-right: 5px;
}

.container-bg h1::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #000000;
    margin-left: 5px;
}

.produtos {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.produtos-item {
    padding: 1rem;
    background-color: white;

}

.container-bg img {
    max-width: 250px;
}

.produtos-item a {
    color: #000000;
    background-color: #FFD700;
    padding: .2rem .3rem;
}

@media(max-width:730px) {
    .container-bg h1 {
        font-size: 1.8rem;
    }

    .container-bg h1:before {
        width: 20px;
    }

    .container-bg h1::after {
        width: 20px;
    }

    .container-bg img {
        max-width: 150px;
    }
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
}